.App {
  text-align: center;
}

/* Nav Bar */
.nav {
  width: 100%;
  height: 45px;
  top: 0;
  left: 0;
  position: absolute;
  background-color: #CFE4F7;
  border-bottom: 1px solid darkblue;
  z-index: 2;
}

#logo-img{
  position: absolute;
  left: 0;
  width: 120px;
  height: 40px;

}

.reddit-nav-container {
  list-style: none;
  margin-top: 14.5px;
  position: absolute;
  left: 6em;
}

.navItem{
  margin-left: 6px;
  padding: 2px;
  text-transform: lowercase;
  color: #369;
  display: inline-block;
  background-color: #EFF7FF;
}

#selectedNav {
  color: red;
  border-bottom: 1px solid white !important;
  border: 1px solid lightgray;
  background-color: white;
}

/* Banner Styling */

#reddit-banner {
  margin-top: 45px;
  width: 100%;
  height: 124px;
  position: relative;
}

#banner-img{
  height: 100%;
  display: inline-block;
  position: absolute;
  left: 0;
  margin:0 5px;
  width:80%;
}

.loginButton {
  float:right;
  font-size:8px;
}

#menuarea{
  width: 80%;
  text-align: left;
  border-bottom: 1px dotted gray;
  padding: 5px 10px;
  margin: 5px;
  overflow: hidden;
  font-size: 10px;
}

select {
  color: gray;
  font-size: bold;
  background: transparent;
  border: none;
  font-size: 14px;
  font-weight: bold;
  text-decoration: underline;
  margin-left: 5px;
  margin-right: 5px;
}



.login-form{
    display: inline-block;
    width: 19%;
    height: 100%;
    position: absolute;
    right: 5px;

}
.form-search{
  margin:7px 0 12px 0;
  width:98%;
}
.login-form-line{
      display: inline-block;
    padding: 2px;
    border: 1px solid grey;
      height:63%;
}
.login-form-line input{
  display: inline-block;
  width:48%;
  margin-bottom:1.5em;
  color:#999;
}
.remember-me{
  float:left;
  font-size:8px;
  width:45%;
}
.remember-me input{
  width:15px;
}
.remember-me a{
  margin-left:2em;
  color: black;
}

input[type="text"]{
  color: gray;
}
.login-form-line input[type="submit"]{
  margin-right: 10px;
  font-size:8px;
  margin-left:5em;
  color:black;
}

/*Article items*/
.article-index{
  list-style: none;
  display: inline-block;
  height: 100%;
  position: relative;
  top: -2em;
}
.article-index h2{
  font-weight:200;
  font-size:1em;
  color:#c6c6c6;
}
.article{
  width: 98%;
  position: relative;
  height: 80px;
  text-align: left;
  margin-top: 1em;
  margin-left: 1.2em;
}
.thumbnail-wrapper{
  width: 90px;
  height: 100%;
  display: inline-block;
  margin-left: 1em;
  overflow: hidden;
}
.thumbnail{
  width:100%;
  height:100%;
}
.article-title{
  display: inline-block;
  margin-left: 3em;
  font-size: 1em;
  color: #0000ff;
  width: 79%;
  position: absolute;
  height: 100%;
  top: .5em;
  overflow: scroll;
}

.article-container{
  width:80%;
}

.article-items{
  margin:0;
  height:100%;
  padding:0;
}

/*Peter Side Bar/Ads*/

.side-bar{
  width: 19%;
  position:absolute;
  height: 800px;
  right: 0;
  margin-right: 5px;
}

.ad-note{
  font-size: 9px;
  position: absolute;
  top: 0;
  left: 100;
}

.first-ad{
  background-color: red;
  width: 100%;
  height: 300px;
}

.new-link {
  margin: 5px;
  background-color: #d0e2f2;
  width: 95%;
  border-radius: 1px 550px 550px 1px;
}

.reddit-gold {
  width:93%;
  height: 85px;
  text-align:center;
  margin: 8px 0 8px 8px;
  border: 3px double gold;
}

.second-ad{
  height:300px;
  width:100%;
  background-color: red;
  position: absolute;
  bottom: 0;
}

#note-2{
  position: relative;

}

.article-items{
  margin:0;
  height:100%;
  padding:0;
}

.gold-text{
  font-color: #88816A;
}

.gold-bar{
  height: 17px;
  width: 80%;
  border: 1px solid #88816A;
  border-radius: 10px;
  display: inline-block;
  
}

.gold-bar-child{
  height:15px;
  width: 66%;
  background-color:gold;
  border-radius: 10px;
}











